src/main/mule/implementation-sapi-rawg.io.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="videos_games-sapi-rawg.ioFlow" doc:id="6642da60-26e2-4719-afc1-98736015b592" >
		<http:request method="GET" doc:name="Request Games Info on Rawg.io" doc:id="c278d657-bca9-455a-84ad-f4ce7878b97b" config-ref="HTTP_Request_configuration" path="/games">
			<http:headers ><![CDATA[#[output application/java
---
{
	"key" : "d675f9d478f9410b8dc58d0034321cfd"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"key" : "d675f9d478f9410b8dc58d0034321cfd",
	"page" : attributes.queryParams.page default 1
}]]]></http:query-params>
		</http:request>
		<logger level="DEBUG" doc:name="After Request" doc:id="a420cbc3-480b-4822-8e8c-88f0ae73b929" message="#[payload]"/>
		<ee:transform doc:name="Show All Games" doc:id="455ed505-a87e-4e75-9503-f653e266d39f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="After Transform" doc:id="584d5b18-3fce-46e1-a4da-b948aa36b5ff" />
	</flow>
</mule>
